.vscode/
*/__pycache__
__pycache__/*
/Preprocess
/R_script_plot
/WGS_PCAWG
WGS*
Deep*
test.py
test.ipynb
similarity_matrix.csv
sigGen/out
sigGen/datasetOut
sigGen/signatures
tools/data
eval/data
eval/nmf_output
nmf/output
eval/datasets/*
panc/*
datasets/*
output*
oldoutput*
*.bat
gpu.*
system.txt*
test*
test/*
pytorchtest*
.ipynb_checkpoints*
checkpoints*
*.ipynb
data/gel*
results.tsv
sigGen/groundtruth.py